img.plugin-icon {
    filter: grayscale(1) !important;
}

hr.frame-adminify-menu-separator {
    display: none !important;
}

body.wp-adminify {
    --adminify-primary: #171718 !important;
}

button#show-settings-link {
    display: none !important;
}

.wrap {
    margin-top: 10em !important;
    background: radial-gradient(#fff0f0, transparent) !important;
    padding: 4em !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    align-items: center !important;
}

div#poststuff {
    display: flex !important;
    flex-direction: column !important;
}

.postbox-header {
    border: none !important;
}

a#post-preview {
    display: none !important;
}

input#save-post {
    width: 100% !important;
    background-color: #ffffff !important;
    font-weight: 400 !important;
    padding: 10px 0px 1.2em !important;
    border-radius: 8px !important;
    color: black !important;
}

.adminify-ui .widefat, .adminify-ui .wp-list-table {
    border-color: #f9f9f9 !important;
    border-radius: 8px !important;
}
