img.plugin-icon {
    filter: grayscale(1) !important;
}

hr.frame-adminify-menu-separator {
    display: none !important;
}

body.wp-adminify {
    --adminify-primary: #171718 !important;
    --adminify-primary: #171718 !important;
}

button#show-settings-link {
    display: none;
}
button#show-settings-link {
    display: none;
}


.wrap {
    margin-top: 10em !important;
    background: radial-gradient(#fff0f0, transparent);
    padding: 4em;
}


div#poststuff {
    display: flex
;
    flex-direction: column;
}


.postbox-header {
    border: none;
}


a#post-preview {
    display: none;
}

input#save-post {
    width: 100%;
    background-color: #ffffff;
    font-weight: 400;
    padding: 10px 0px 1.2em;
    border-radius: 8px;
    color: black;
}

.adminify-ui .widefat, .adminify-ui .wp-list-table {
    border-color: #f9f9f9;
    border-radius: 8px;
}

.adminify-ui .widefat, .adminify-ui .wp-list-table {
    border-color: #f9f9f9;
    border-radius: 8px;
}


.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

